/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --clr-green-dark: 143 73% 16%;
  --clr-green-darkest: 143 73% 10%;
  --clr-green-light: 144 64% 22%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;

  --clr-green-bright: 120 74% 52%;
  --clr-red: 0 100 55%;
  --clr-blue: 230 100% 59%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* font-weights */
  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /* font-families */

  --ff-sans-normal: "Inter", sans-serif;
  --ff-sans-cond: "Inter Tight", sans-serif;

  /* utilities */
  --outline-red: 3px solid red;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  background-color: hsl(var(--clr-green-dark));
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: var(--clr-white);
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* Layout */
.wrapper {
  height: 100vh;
  max-width: minmax(250px, 80vw);
  margin: 0 auto;
}

.wrapper__game-board {
  background-color: hsl(var(--clr-green-dark));
  background-image: url("table-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper__initial-wager {
  background-color: hsl(var(--clr-green-dark));
  background-image: url("table-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Layout utilities */
.hidden {
  display: none; /* Hidden by default */
}

/* Hand UI */

.hand {
  display: flex;
  position: relative;
}
.hand::before {
  content: "";
  width: 4em;
  height: 6em;
}

/* Card UI */

.card {
  position: absolute;
  display: grid;
  /* place-content: center; */
  place-items: center;
  grid-template-columns: 1em 1fr 1em;
  grid-template-rows: 1.5em 1fr 1.5em;
  grid-template-areas:
    "top-left . ."
    ". rank ."
    ". . btm-right";
  background-color: white;
  color: black;
  width: 4em;
  height: 6em;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.card-suit p {
  font-size: var(--fs-100);
  line-height: 1;
}

.card-rank {
  grid-area: rank;
  font-size: var(--fs-600);
}

.card-suit-left {
  grid-area: top-left;
  display: flex;
  flex-direction: column;
}

.card-suit-right {
  grid-area: btm-right;
  display: flex;
  flex-direction: column;
  transform: rotateX(180deg) rotateY(180deg);
}

.card-suit-right-rank {
}

.card-red-suit {
  color: red;
}

.card-black-suit {
  color: black;
}
